{% extends 'base.html' %}

{% block title %} Print a Recipe {% endblock %}


{% block body %}

<h3>{{ recipe['recipe_name'] }}</h3>
<hr>
<div class="form-group">
    <label class="print">Food category:</label>
    <p style="display:inline;">{{ recipe['category'] }}</p>
</div>

<div class="form-group">
    <label class="print" for="recipe_ingredients"> Ingredients: </label>
    {% for ingredient in recipe['ingredients'] %}
    <p> - {{ ingredient }} </p>
    {% endfor %}
</div>

<div class="form-group">
    <label class="print" for="preparation"> Preparation steps: </label>
    
    {% for step in recipe['preparation']%}
    <p> {{ loop.index }}.  {{ step }} </p>
    {% endfor %}
</div>

<div class="form-group">
    <label class="print" for="notes"> Notes: </label>
    {{ recipe['notes'] }}
</div>
<hr>
<div class="form-group"> <label> Recipe owner: </label>
    <p style="display:inline;">{{ recipe['recipe_owner'] }}</p>
</div>
<div class="form-group"> <label> Added by: </label>
    <p style="display:inline;">{{ recipe['added_by'] }}</p>
</div>

<div class="form-group"> <label> Date added: </label>
    <p style="display:inline;">{{ recipe['date_added'] }}</p>
</div>

<div class="form-group"> <label> Last modified: </label>
    <p style="display:inline;">{{ recipe['date_modified'] }}</p>
</div>

<br>

{% endblock %}